<div class="date-period-picker">
    <span class="start-date">
        <rg-date class="start-date" date={startDateConfig}></rg-date>
    </span>
    <span class="end-date">
        <rg-date class="end-date" date={endDateConfig}></rg-date>
    </span>
</div>