.cupon-table {
  padding-top: 20px;

  .actions {
    flex: 0.4;

    i {
      cursor: pointer;
    }
  }
}

.modal {
  overflow: visible;
}

.table__row--heading {
  display: flex;
  flex: 1;
  cursor: pointer;
}

.table--stripped {
  tbody {
    tr:nth-of-type(odd) {
      background-color: #f1f1f1;
    }
  }
}