.cupon-form {
  label {
    display: inline-block;
    width: 200px;
  }

  acs-period-date-picker {
    display: inline-block;
  }

  .form-group {
    margin-bottom: 5px;
  }

  .field {
    max-width: 200px;
    display: inline-block;
  }
}