<form class="cupon-form">
    <div class="form-group">
        <label>GTIN</label>
        <input class="field" onchange={onValueChange('gtin')} name="gtin" value={cupon.gtin} placeholder="GTIN-13 value" />
        <span if={validation.gtin} class="badge badge--error">{validation.gtin.message}</span>
    </div>
    <div class="form-group">
        <label>Name</label>
        <input class="field" onchange={onValueChange('name')} name="name" value={cupon.name} />
        <span if={validation.name} class="badge badge--error">{validation.name.message}</span>
    </div>

    <div class="form-group">
        <label>Promotion period</label>
        <acs-period-date-picker name="period" value={cupon.period} on-update={onPeriodChange}></acs-period-date-picker>
    </div>

    <div class="form-group">
        <label>Discount value</label>
        <input class="field" onchange={onValueChange('discountValue')} name="discountValue" value={cupon.discountValue} placeholder="EUR" />
        <span if={validation.discountValue} class="badge badge--error">{validation.discountValue.message}</span>
    </div>

    <div class="form-group">
        <label>Status</label>
        <rg-toggle toggle={toggleStatusConfig} onchange={onStatusChange}></rg-toggle>
        <span if={validation.status} class="badge badge--error">{validation.status.message}</span>
    </div>
</form>
