<div class="cupon">
    <div class="button button--primary float-right" onclick={openCuponForm}><i class="fas fa-plus"></i> Create cupon</div>

    <div class="table__caption">Cupon list</div>
    <table class="table table--stripped cupon-table">
        <thead class="table__heading">
            <tr class="table__row--heading">
                <th class="table__cell" onclick={setSort('gtin')}>GTIN
                    <i class="fas fa-caret-up" if={isSort('gtin|ASC')}></i>
                    <i class="fas fa-caret-down" if={isSort('gtin|DESC')}></i>
                </th>
                <th class="table__cell" onclick={setSort('name')}>Name
                    <i class="fas fa-caret-up" if={isSort('name|ASC')}></i>
                    <i class="fas fa-caret-down" if={isSort('name|DESC')}></i>
                </th>
                <th class="table__cell" onclick={setSort('period')}>Period
                    <i class="fas fa-caret-up" if={isSort('period|ASC')}></i>
                    <i class="fas fa-caret-down" if={isSort('period|DESC')}></i>
                </th>
                <th class="table__cell" onclick={setSort('discountValue')}>Discount value
                    <i class="fas fa-caret-up" if={isSort('discountValue|ASC')}></i>
                    <i class="fas fa-caret-down" if={isSort('discountValue|DESC')}></i>
                </th>
                <th class="table__cell" onclick={setSort('status')}>Status
                    <i class="fas fa-caret-up" if={isSort('status|ASC')}></i>
                    <i class="fas fa-caret-down" if={isSort('status|DESC')}></i>
                </th>
                <th class="table__cell actions">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="table__row" each={cupons} key={uuid} no-reorder>
                <td class="table__cell">{gtin}</td>
                <td class="table__cell">{name}</td>
                <td class="table__cell">{period.startDate} - {period.endDate}</td>
                <td class="table__cell">{discountValue}</td>
                <td class="table__cell">
                    <span if={status}>
                        <span class="badge badge--success">Active</span>
                    </span>
                    <span if={!status}>
                        <span class="badge badge--error">Disabled</span>
                    </span>
                </td>
                <td class="actions">
                    <i class="fas fa-trash" onclick={deleteRow(uuid)}></i>
                    <i class="fas fa-pencil-alt" onclick={editRow(uuid)}></i>
                </td>
            </tr>
        </tbody>
    </table>

    <rg-modal modal={modalConfig}>
        <acs-cupon-form on-update={parent.onFormUpdate} cupon={parent.currentCupon}></acs-cupon-form>
    </rg-modal>
    <rg-modal modal={deleteModalConfig}>
        <h2>Are you sure you want to delete {parent.nextDelete.gtin} - {parent.nextDelete.name} ?</h2>
    </rg-modal>
</div>
