$fa-font-path: '~@fortawesome/fontawesome-free-webfonts/webfonts';
@import '~@fortawesome/fontawesome-free-webfonts/css/fontawesome.css';
@import '~@fortawesome/fontawesome-free-webfonts/css/fa-solid.css';

html,body {
  height: 100%;
}

.float-right {
  float: right;
}